#Title{
    font-family: 'Paytone One', sans-serif;
    color: #605DEC;
}

div, .col{

    color: #7C8DB0;
}


    p, a {
        color: #7C8DB0 ;
        font-family: 'Poppins', sans-serif;
       
    }

.my-5{

    padding-top: 10%;
}

.container.my-5 {
    width: 100%;       
    max-width: 100%; 
    margin: auto;      
  }
  
  .custom-gap {
    margin-right: 50px; 
   
}
