

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Airborne</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Flights</a>
          <a class="nav-link" href="#">Promo</a>
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#" >Login</a>
        </div>
        <!-- <img src="assets/user.png" class="userIcon" /> -->
      </div>
      
    </div>
  </nav>

<div class="bigText">
    <img src="assets/text.png" class="text"/>
</div>

<div class="whiteborder"></div>
<div class="text2">
  <div class="row"></div>
  <p class="txt">Find your next adventure with</p><p class="ab">Airborne</p>
</div>

<div class="container">
    <div class="row">
        <img src="assets/tokyo.png" class="image"/>
        <img src="assets/bali.png" class="image"/>
        <img src="assets/sweden.png" class="image"/>
    </div>
    <img src="assets/nigeria.png" class="nigeria"/>
</div>

<div class="text3">
  <div class="row"></div>
  <p class="txt2">Choose a departing flight</p>
</div>

<div class="scrollable-table">

  <table class="table caption-top">
   
    <thead>
      <tr>
        <th scope="col" class="head">Flight</th>
        <th scope="col" class="head">Hours</th>
        <th scope="col" class="head">Stops</th>
        <th scope="col" class="head">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:00AM - 4:15PM</td>
        <td>1 stop</td>
        <td>₱7624</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:35 AM - 12:15 PM</td>
        <td>1 stop</td>
        <td>₱9663</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>8:20 AM - 2:15 PM</td>
        <td>1 stop</td>
        <td>₱9690</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>9:47 AM - 4:15 PM</td>
        <td>1 stop</td>
        <td>₱8756</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>11:15 AM - 7:45 PM</td>
        <td>Nonstop</td>
        <td>₱10837</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>10:55 AM - 8:15 PM</td>
        <td>Nonstop</td>
        <td>₱7839</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>1:00 PM - 9:15 PM</td>
        <td>1 stop</td>
        <td>₱7886</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>2:15 PM - 11:15 PM</td>
        <td>1 stop</td>
        <td>₱9913</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>6:45 PM - 7:15 PM</td>
        <td>2 stops</td>
        <td>₱12989</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:00AM - 4:15PM</td>
        <td>2 stops</td>
        <td>₱7886</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>1:00 PM - 9:15 PM</td>
        <td>1 stop</td>
        <td>₱10624</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:00AM - 4:15PM</td>
        <td>Nonstop</td>
        <td>₱11,079</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:00AM - 4:15PM</td>
        <td>Nonstop</td>
        <td>₱11,114</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:20 AM - 1:15 PM</td>
        <td>Nonstop</td>
        <td>₱11,347</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>1:00 PM - 9:15 PM</td>
        <td>1 stop</td>
        <td>₱10624</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>9:00AM - 1:15PM</td>
        <td>1 stop</td>
        <td>₱10,392</td>
      </tr>
      <tr>
        <th scope="row" class="airline">Airborne Airlines</th>
        <td>7:10AM - 4:35PM</td>
        <td>1 stop</td>
        <td>₱10,403</td>
      </tr>
    </tbody>
  </table>
  
</div>

<div class="bodyText1">
  <h1>Airborne Airways</h1>
<p>Airborne Airways is a low cost carrier airline operating domestic routes. The airline gives the passengers with a cabin baggage 
  allowance of 7 kg and maximum size of 36 cm x 56 cm x 23 cm (L x W x H). Check in time at the airport starts from 120 minutes before 
  the flight departure time. Check in online is available for flight on Airborne Airways official website page. It can be processed 1 days prior 
  to scheduled flight departure time.</p>
</div>

<div class="bodyText2">

  <h1>How to book</h1>

  <ol>
    <li>Visit AirborneAirways.com, or access the Airborne Airways application (Android/iOS) on your gadget. </li>
    <li>Fill in the details in the flight search box. </li>
    <li>Choose the best flight. </li>
    <li>Fill in the passenger and contact details on the booking page. </li>
    <li>Process payment through the selected payment method. </li>
    <li>Get your Airborne Airways flight e-itinerary in the My Booking page, or in your email.</li>
  </ol>
</div>

<div class="bodyText3">

  <h1>How to Book</h1>

  <p>Payment for your Airborne Airways ticket booking on Airborne Airways can be processed via bank credit card, PayPal, bank transfer, and 
     over the counter methods. For the complete information, visit Airborne Airways Payment Guide page.
  </p>
</div>



 

  