


.navbar-brand {
    font-family: 'Paytone One', sans-serif;
    font-size: 2em;
    color: #605DEC;
    margin-left: 20%;
  }
  
  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #605DEC;
    margin-right: 15%;
  }
  
  .navbar-nav {
    margin-left: 50%; 
    margin-top: 1%;
    font-size: 1em;
  }
  
  .login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #605DEC;
    text-decoration: none;
  }
  
  .navbar {
    background-color: white;
  }
  
  .text {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  display: block;
  }
  .whiteborder {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1078px; 
    height: 189px; 
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
  }

  .input-container1,  .input-container2 {
    width: 25%;
    font-family: 'poppins', sans-serif;
    color:#919191;
  }

  .input-container2 {
    margin-left: 70px;
  }
  .input-container1 {
    margin-left: 20px;
  }
  .icon-text {
    display: flex;
    align-items: center;
  }
  
  .icon-text i {
    margin-right: 5px; /* Adjust the margin between the icon and text */
  }
  
 

  input, select {
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 15px;
    box-sizing: border-box;
    margin-top: 0.1%;
    border: 2px solid #919191; 
    border-radius: 5px;
  }
  
  .datecontainer{
    display: flex;
    margin-top: 0.1%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
    align-items: center;
    border: 2px solid #919191; 
    border-radius: 5px;
    
  }


  input[type="date"] {
    color: #919191;
    width: 150%;
    font-size: 12px;
    border: none;
  }
  #datepicker::-webkit-calendar-picker-indicator {
    color: #919191;
  cursor: pointer;
  }
  #datepicker2::-webkit-calendar-picker-indicator {
    color: #919191;
    cursor: pointer;
  }
  
  
  button {
    background-color: #605DEC;
    color: white;
    font-family: 'poppins', sans-serif;
    padding: 10px 15px;
    width: 146px;
height: 58px;
flex-shrink: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
  }

  button:hover {
    background-color: #544cd2; 
  }

.container {
  margin-top: 2%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.row {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.image {
  width:30%; 
  height: auto;
}

.nigeria {
  margin-top: 5%;
  width: 100%; 
  height: auto; 
}
.text2{
  margin-top: 15%;
  margin-left: 16%;
}
.text2 p {
  display: inline;
}

.txt, .ab {
  margin: 3px;
}

.txt{
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  color: #6E7491;
}

.ab{
  font-size: 24px;
  font-family: 'Paytone One', sans-serif;
  color: #605DEC;
}


////table////////
table{


    width: 83%;
  
}
th, td{

    font-family: 'Poppins', sans-serif;
    color: #6E7491;
}

.airline{
    font-family: 'Paytone One', sans-serif;
    color: #605DEC;

}

.head{

    color: #605DEC;
}
.text3{
    margin-top: 10%;
    margin-left: 15.5%;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    color: #6E7491;
  }

.scrollable-table {
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 15%;
    height: 300px; 
    overflow: auto;
    
  }
 b
  .scrollable-table tbody {
    padding-top: 20px; 
  }




  
  @media (max-width: 1366px) {
    .navbar-brand,
    .nav-link,
    .navbar-nav,
    .login,
    .userIcon,
    .navbar,
    .image {
     
      font-size: initial;
      margin-left: initial;
      margin-right: initial;
      margin-top: initial;
    }
  
    .navbar-brand {
      font-size: 2em; 
      margin-left: 20%;
    }
  
    .nav-link {
      margin-right: 15%;
    }
  
    .navbar-nav {
      margin-left: 50%;
    }

    .image {
        margin-left: 20%; 
        width: 60%; 
      }
  }
  
/////others//////////
.bodyText1 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText1 p{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText1{
  text-align: justify;
  width: 69%;
  margin-top: 15%;
  margin-left: 15%;
}

.bodyText2 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText2 li{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText2{
  text-align: justify;
  width: 69%;
  margin-top: 5%;
  margin-left: 15%;
}

.bodyText3 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText3 p{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText3{
  text-align: justify;
  width: 69%;
  margin-top: 5%;
  margin-left: 15%;
}