
  
  .text {
  padding-top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  display: block;
  }
 

.container {
  margin-top: 2%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.row {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.image {
  width:30%; 
  height: auto;
}

.nigeria {
  margin-top: 5%;
  width: 100%; 
  height: auto; 
}
.text2{
  margin-top: 15%;
  margin-left: 16%;
}
.text2 p {
  display: inline;
}

.txt, .ab {
  margin: 3px;
}

.txt{
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;
  color: #6E7491;
}

.ab{
  font-size: 24px;
  font-family: 'Paytone One', sans-serif;
  color: #605DEC;
}


////table////////
table{


    width: 83%;
  
}
th, td{

    font-family: 'Poppins', sans-serif;
    color: #6E7491;
}

.airline{
    font-family: 'Paytone One', sans-serif;
    color: #605DEC;

}

.head{

    color: #605DEC;
}
.text3{
    margin-top: 10%;
    margin-left: 15.5%;
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    color: #6E7491;
  }

.scrollable-table {
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 15%;
    height: 300px; 
    overflow: auto;
    
  }
 b
  .scrollable-table tbody {
    padding-top: 20px; 
  }


 
  
  @media (max-width: 1366px) {
    .navbar-brand,
    .nav-link,
    .navbar-nav,
    .login,
    .userIcon,
    .navbar,
    .image {
     
      font-size: initial;
      margin-left: initial;
      margin-right: initial;
      margin-top: initial;
    }
  
    .navbar-brand {
      font-size: 2em; 
      margin-left: 20%;
    }
  
    .nav-link {
      margin-right: 15%;
    }
  
    .navbar-nav {
      margin-left: 50%;
    }
  
 
  
    .image {
        margin-left: 20%; 
        width: 60%; 
      }
  }
  
/////others//////////
.bodyText1 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText1 p{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText1{
  text-align: justify;
  width: 69%;
  margin-top: 15%;
  margin-left: 15%;
}

.bodyText2 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText2 li{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText2{
  text-align: justify;
  width: 69%;
  margin-top: 5%;
  margin-left: 15%;
}

.bodyText3 h1{
  color: #6E7491;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2%;
}
  
.bodyText3 p{

  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #6E7491;
  text-align: justify;
 
}

.bodyText3{
  text-align: justify;
  width: 69%;
  margin-top: 5%;
  margin-left: 15%;
}