


.navbar-brand {
    font-family: 'Paytone One', sans-serif;
    font-size: 2em;
    color: #605DEC;
    margin-left: 20%;
  }
  
  .nav-link {
    display: inline;
       vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #605DEC;
    margin-right: 15%;
  }
  .bi {
    vertical-align: middle; // Same for the icon
}
.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi {
  margin-right: 5px; // Add some space between icon and text
}

  .navbar-nav {
    margin-left: 50%; 
    margin-top: 1%;
    font-size: 1em;
  }
  
  .login {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #605DEC;
    text-decoration: none;
  }
  

  
  .navbar {
    background-color: white;
  }