@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Sidebar styling */
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  background-color: #343a40;
  padding-top: 20px;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

#sidebar a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: #5a6268;
}

/* Content styling */
#content {
  margin-left: 250px;
  padding: 15px;
}
