<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="moon">
          <img id="moon" src="assets/Moon.png" alt="" />
        </div>
        <div class="Plane">
          <img id="plane" src="assets/Plane.png" alt="" />
        </div>
      </div>
      <div class="column">
        <div class="admin-landing-page">
          <div class="top-header">Welcome Admin!</div>
          <div class="header">
            It's Nice to <br />
            Meet You
          </div>
        </div>
        <div class="row mt-lg-5">
          <!-- Added a new row for the button -->
          <div class="col">
            <button
              type="button"
              class="btn custom-button float-end"
              id="view-dashboard"
            >
              VIEW DASHBOARD
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 text-end">
        <div class="PlaneDown">
          <img
            id="plane-down"
            src="assets/Plane-down.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
