
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Airborne-primary: mat.define-palette(mat.$indigo-palette);
$Airborne-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Airborne-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Airborne-theme: mat.define-light-theme((
  color: (
    primary: $Airborne-primary,
    accent: $Airborne-accent,
    warn: $Airborne-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Airborne-theme);

@font-face {
    font-family: Poppins;
    src: url(Airborne\src\assets\Fonts\Poppins-Regular.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-SemiBold.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-Medium.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-Light.ttf) format('truetype');

    font-family: PaytoneOne;
    src: url(Airborne\src\assets\Fonts\PaytoneOne-Regular.ttf) format('truetype');
}

body{

    background-image: url('assets/Hero.png'); 
    background-repeat: no-repeat; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
