@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
    font-family: Poppins;
    src: url(Airborne\src\assets\Fonts\Poppins-Regular.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-SemiBold.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-Medium.ttf) format('truetype');
    src: url(Airborne\src\assets\Fonts\Poppins-Light.ttf) format('truetype');

    font-family: PaytoneOne;
    src: url(Airborne\src\assets\Fonts\PaytoneOne-Regular.ttf) format('truetype');
}

body{

    background-image: url('assets/mapBG.png'); 
    background-repeat: no-repeat; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


