<div class="whiteborder">
  <div class="flex-container">
    <div class="top-row-container">
      <div class="dropdown-center">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedTripType }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item"
              href="#"
              (click)="onSelectTripType('Round-trip')"
              >Round-trip</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="#"
              (click)="onSelectTripType('One-way')"
              >One-way</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="input-container3">
      <input
        type="text"
        placeholder="Enter Departure"
        [(ngModel)]="departureSearchQuery"
        (input)="filterDepartureCountries()"
      />
      <div class="dropdown-container" *ngIf="departureSearchQuery">
        <ul class="dropdown-list">
          <li
            *ngFor="let country of filteredDepartureCountries"
            (click)="selectDepartureCountry(country)"
          >
            {{ country }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <img src="assets/swap.png" alt="" />

  <div class="input-container4">
    <input
      type="text"
      placeholder="Enter Destination"
      [(ngModel)]="destinationSearchQuery"
      (input)="filterDestinationCountries()"
    />
    <div class="dropdown-container" *ngIf="destinationSearchQuery">
      <ul class="dropdown-list">
        <li
          *ngFor="let destination of destinationOptions"
          (click)="selectDestinationCountry(destination)"
        >
          {{ destination }}
        </li>
      </ul>
    </div>
  </div>

  <div class="datecontainer">
    <div class="input-container1">
      <input type="date" [(ngModel)]="departureDate" id="datepicker1" />
    </div>

    <div class="input-container2">
      <input
        type="date"
        [(ngModel)]="returnDate"
        id="datepicker2"
        [disabled]="!isRoundTripSelected"
      />
    </div>
  </div>

  <div class="booking-action">
    <button (click)="bookFlight()">Book Flight</button>

    <div class="ticket-price">
      <p style="color: #605dec" *ngIf="ticketPrice > 0">
        PHP {{ ticketPrice.toFixed(2) }}
      </p>
      <p style="color: #605dec" *ngIf="ticketPrice <= 0">PHP 00.00</p>
    </div>
  </div>
</div>
