.wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.wrapper::-webkit-scrollbar{
  width: 0;
}

.contents {
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%; /* Adjust left and right to control the width */
    bottom: 10%; /* Adjust top and bottom to control the height */
    z-index: 2;
  }
.ticket {
  padding-top: 10%;
  padding-left: 19%;
  position: relative;
  z-index: -1;
}

.ticketTop {
  position: absolute; 
  top: 45%;
  left: 27%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #484848;
  display: flex;
  justify-content: start;
  width: auto;
  overflow: visible;
}

.flightID {
  white-space: nowrap;
}

.flightDate {
  position: fixed;
  left: calc(490% + 50px);
  white-space: nowrap;
  top: 0;
}

.countries {
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #484848;
  display: flex;
  padding-bottom: 5%;
  padding-right: 43%;
  gap: 15%;
}
.flightDetails {
  position: absolute;
  bottom: 0.5%;
  right: 1.0%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #484848;
  display: flex;
  padding-top: 15%;
  padding-right: 14%;
  
  gap: 30%;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color: #484848;
    white-space: nowrap;
    align-items: center;
}

.seat {
  position: absolute;
  top: 65%;
  left: 104.5%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #484848;
  padding-bottom: 4%;
  padding-left: 11%;
  gap: 15%;
}
.country1,
.country2 {
  padding-top: 5%;
}
.country1 p,
.country2 p {
  text-transform: uppercase;
}
